{{template "base" .}}

{{define "content"}}
   <div class="container">
    <div class="row">
      <h1> About Page </h1>
      <p> This is a paragraph of page </p>
      <p> This is a paragraph of page 2 </p>
    </div>
  </div>
{{end}}