{{template "base" .}}

{{define "content"}}
   <div class="container">
    <div class="row">
      <h1> About Page </h1>
      <p> This is a paragraph of page </p>
      <p> This is a paragraph of page 2 </p>
      <p> {{index .StringMap "test"}} </p>

      <p> 
        {{if ne (index .StringMap "remote_ip") ""}}
          Your ip adress is {{index .StringMap "remote_ip"}}
         {{else}}
          i don't know your ib adress. Visit the <a href="/">Home Page</a> so I can set it.
        {{end}}
       </p>
    </div>
  </div>
{{end}}